@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@500&display=swap");
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #e5e6ea;
  overflow-x: hidden;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

header {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 1240px;
  margin: 0 auto;
  &__logo {
    color: #f45520;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  &__links {
    display: flex;
    align-items: center;
    &-item {
      text-decoration: none;
      transition: 0.2s;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #666;
      border-bottom: 2px solid transparent;

      padding: 2px 5px 2px;
      overflow: hidden;
      transform: scale(0.9);
      &.active {
        border-bottom: 2px solid #f45520;
      }
      &:hover {
        transform: scale(1);
        border-bottom: 2px solid #f45520;
      }
      &:nth-child(2) {
        margin: 0 40px 0 60px;
      }
    }
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__images {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }
  &__name {
    font-size: 14px;
  }
  &__study {
    font-weight: 400;
    font-size: 12px;
  }
  &__btn {
    background: #000000;
    border-radius: 10px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    padding: 18px 40px;

    color: #ffffff;
    &:nth-child(2) {
      margin-left: 23px;
    }
    &-active {
      background-color: #f45520;
    }
  }
}

.select {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  &__errors {
    text-align: center;
    color: red;
  }

  &__wrapper {
    position: relative;
    &::after {
      content: url("./images/vector.svg");
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translateY(-50%);
    }
  }
  .select__items {
    padding: 0 108px 0 80px;
  }
  .select__button {
    width: 220px;
  }

  select {
    appearance: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;

    color: #c3c3c3;
    border: none;
    outline: none;
    background-color: #fbfbfb;
    box-shadow: inset 1px 7px 14px rgba(214, 214, 214, 0.25);
    border-radius: 10px;

    height: 67px;
    padding: 0 58px 0 30px;
  }
  button {
    color: #fbfbfb;
    border: none;
    outline: none;
    background-color: #f45520;

    border-radius: 10px;
    width: 100px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(244, 85, 32, 0.8);
    }
  }
}

.diargams {
  display: flex;
  justify-content: center;
  margin: 70px 0;
  &__circle {
    width: 300px;
  }
  &__graphic {
    width: 1000px;
    margin-left: 30px;
  }
  &__title {
    font-family: "Montserrat";
    font-size: 30px;
    color: #666666;
  }
  &__btn {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    background-color: transparent;
    text-decoration: none;
    padding: 8px 36px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
  }
}
.none {
  display: none;
}

.landing {
  background-color: #fff;
}
.container__landing {
  width: 1240px;
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 30px 0;

  &__content {
    background-color: #fff;
    border-top: 1px solid #000;
  }
  h3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #898989;
  }
  &__links > a:nth-child(2) {
    margin-left: 22px;
  }
}
.result {
  padding: 160px 0;
  display: flex;
  justify-content: space-between;
  h1 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;

    color: #f45520;
    margin-bottom: 84px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #898989;
    margin-bottom: 46px;
    width: 620px;
  }
  &__button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    background-color: transparent;
    text-decoration: none;

    padding: 8px 36px;
    border: 1px solid #000000;
    border-radius: 10px;
  }
}

.works {
  &__container {
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "item1 item3"
      "item2 item3";
    .item1 {
      grid-area: item1;
    }

    .item2 {
      grid-area: item2;
    }

    .item3 {
      grid-area: item3;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__header {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    color: #000000;

    margin-bottom: -160px;
  }
  &__item {
    width: 620px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    h1,
    p {
      text-align: left;
      width: 470px;
    }
  }
  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    color: #898989;
  }
  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #898989;
  }
}
.look {
  background-color: #fff;
  margin: 250px 0 0 0;
  padding-bottom: 140px;
  &__container {
    background-color: #f45520;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #ffffff;
    max-width: 600px;

    margin-top: 127px;
    margin: 157px 0 36px;
  }
  &__buttons {
    display: flex;

    &__btn {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      background-color: #fff;
      padding: 21px 34px;
      cursor: pointer;
      border: 2px solid #ffffff;
      border-radius: 10px;

      color: #f45520;
      &-active {
        color: #fff;
        background-color: transparent;
        margin-left: 32px;
      }
    }
  }
}

// предметы каждые 7 тсолбцов
.even-toogle td:nth-child(2) {
  font-size: 0;
  border: none !important;
}
.even-toogle tr:nth-child(7n + 1) {
  td:nth-child(2){
    font-size: 0.9em;

  width: 180px;
  }
  td{
    border-top: 2px solid #fff !important;
  }
  
}

.tabel {
  margin: 0px 0 40px;
  display: flex;
  justify-content: center;
  &__buttons {
    display: flex;
    text-align: center;
    grid-gap: 10px;
    margin-top: 50px;
    justify-content: center;
    user-select: none;
    button {
      font-weight: 600;
      border: none;
      background-color: rgba(0, 0, 0, 0.8);
      color: #e5e6ea;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: rgb(0, 0, 0);
      }
      &:disabled {
        background-color: #f45520;
        &:hover {
          background-color: rgba(244, 85, 32, 0.9);
        }
      }
    }
  }

  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
      background-color: #f45520;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }
  }

  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  .content-table td {
    position: relative;
  }



  // предметы
   td {
    border: 1px solid #dddddd;
    // width: 45px;
    &:first-child {
      width: 195px;
    }
  }

  // .content-table tbody tr {
  //   &:nth-of-type(even) {
  //     background-color: #f3f3f3;
  //   }
  // }

  // для процентов
  .content-table tbody {
    .tr {
      border: 1px solid #dddddd;
    }

    td:nth-child(n + 2):nth-child(-n + 4) .tabel-active {
      background-color: #fb0101;
    }
    td:nth-child(n + 5):nth-child(-n + 7) .tabel-active {
      background-color: #fec000;
    }
    td:nth-child(n + 8):nth-child(-n + 10) .tabel-active {
      background-color: #90d14e;
    }
    td:nth-child(n + 11):nth-child(-n + 13) .tabel-active {
      background-color: #08aa53;
    }
  }
  &-active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #08aa53;
    z-index: -1;
  }

  .table-color-1 {
    background-color: #fb0101;
  }
  .table-color-2 {
    background-color: #fec000;
  }
  .table-color-3 {
    background-color: #90d14e;
  }
  .table-color-4 {
    background-color: #08aa53;
  }

  // .content-table tbody tr:last-of-type {
  //   border-bottom: 2px solid #f45520;
  // }
}
